<div id="main">
  <div class="inner container">
    <header class="site-header">
      <a href="/"><h1 class="site-title">LaunchStat</h1></a>
    </header>
    <section class="content">
      <div class="modal-toggle">
        <a href="#" id="modal-open">Add your own countdown</a>
      </div>
      <section id="grid" class="grid clearfix">
        <div ng-repeat="(key, value) in launches.fb">
          <a href="/#/{{ key }}" data-path-hover="m 180,130 -180,0 L 0,0 180,0 z">
            <figure>
              <img src="img/2.png" />
              <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
              <figcaption>
                <h2 id="{{ value.title }}">{{ value.title }}</h2>
                <button>View</button>
              </figcaption>
            </figure>
          </a>
        </div>
      </section>
    </section>
  </div>
</div>

<div id="modal" ng-controller="MainCtrl">
  <div class="inner">
    <a href="#" id="modal-close" class="icon icon-cross"><span class="screen-reader-text">Close</span></a>
    <section class="content">
      <h1 class="section-title">Add your LaunchStat Countdown</h1>

      <div class="row">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
              <input type="text" class="col-sm-12" placeholder="e.g. LaunchStat's Birthday Countdown" ng-model="launches.title" required />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Sub-Text</label>
            <div class="col-sm-9">
              <input type="text" class="col-sm-12" placeholder="e.g. to go before LaunchStat's Birthday" ng-model="launches.text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Launch Date</label>
            <div class="col-sm-9">
              <input type="text" class="col-sm-12" placeholder="e.g. February 26, 2015 or 9:26pm or 15 minutes" ng-model="launches.date" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Text after countdown</label>
            <div class="col-sm-9">
              <input type="text" class="col-sm-12" placeholder="e.g. Happy Birthday!" ng-model="launches.afterCountdown" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-9">
              <p class="form-submit">
                <input type="submit" ng-click="launches.addLaunch()" id="newsletter_submit" value="Launch it!">
              </p>
            </div>
          </div>
        </form>
      </div>
    </section>
    <div class="footer">
      <p>A project of Adsum Creative</p>
    </div>
  </div>
</div>